<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Clean App</title>
  </head>
  <body>
    <div id="root"></div>

    <script>
      window.CURRENT_PAGE = "<%= page %>";
    </script>

    <script src="/bundle.js"></script>
    <% if (liveReload) { %>
    <script src="http://localhost:35729/livereload.js?snipver=1"></script>
    <% } %>
  </body>
</html>
